lluviaBackEnd/lluviaBackEnd/Connected Services/cancelacionPruebas40/cancelaCFDI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://edifact.com.mx/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://edifact.com.mx/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://edifact.com.mx/xsd">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="enviaAcuseCancelacionRequest">
    <wsdl:part name="xmlFile" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="enviaAcuseCancelacionResponse">
    <wsdl:part name="ns1:return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="aceptarRechazarCancelacionRequest">
    <wsdl:part name="xmlFile" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="aceptarRechazarCancelacionResponse">
    <wsdl:part name="ns1:return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="obtenerPeticionesPendientesRequest">
    <wsdl:part name="rfcReceptor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="obtenerPeticionesPendientesResponse">
    <wsdl:part name="ns1:return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="obtenerRelacionadosRequest">
    <wsdl:part name="xmlFile" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="obtenerRelacionadosResponse">
    <wsdl:part name="ns1:return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="enviaAcuseCancelacionPortType">
    <wsdl:operation name="enviaAcuseCancelacion">
      <wsdl:input message="tns:enviaAcuseCancelacionRequest" />
      <wsdl:output message="tns:enviaAcuseCancelacionResponse" />
    </wsdl:operation>
    <wsdl:operation name="aceptarRechazarCancelacion">
      <wsdl:input message="tns:aceptarRechazarCancelacionRequest" />
      <wsdl:output message="tns:aceptarRechazarCancelacionResponse" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPeticionesPendientes">
      <wsdl:input message="tns:obtenerPeticionesPendientesRequest" />
      <wsdl:output message="tns:obtenerPeticionesPendientesResponse" />
    </wsdl:operation>
    <wsdl:operation name="obtenerRelacionados">
      <wsdl:input message="tns:obtenerRelacionadosRequest" />
      <wsdl:output message="tns:obtenerRelacionadosResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="enviaAcuseCancelacionBinding" type="tns:enviaAcuseCancelacionPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enviaAcuseCancelacion">
      <soap:operation soapAction="http://comprobantes-fiscales.com/service/cancelaCFDI.php/enviaAcuseCancelacion" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://edifact.com.mx/xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://edifact.com.mx/xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aceptarRechazarCancelacion">
      <soap:operation soapAction="http://comprobantes-fiscales.com/service/cancelaCFDI.php/aceptarRechazarCancelacion" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://edifact.com.mx/xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://edifact.com.mx/xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPeticionesPendientes">
      <soap:operation soapAction="http://comprobantes-fiscales.com/service/cancelaCFDI.php/obtenerPeticionesPendientes" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://edifact.com.mx/xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://edifact.com.mx/xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerRelacionados">
      <soap:operation soapAction="http://comprobantes-fiscales.com/service/cancelaCFDI.php/obtenerRelacionados" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://edifact.com.mx/xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://edifact.com.mx/xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="enviaAcuseCancelacion">
    <wsdl:port name="enviaAcuseCancelacionPort" binding="tns:enviaAcuseCancelacionBinding">
      <soap:address location="http://comprobantes-fiscales.com/service/cancelaCFDI.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>